{% include base_path %}

<!-- start custom head snippets -->

<!-- Support for Academicons -->
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<!-- Site favicon -->
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/fea-contour-apple-touch-180x180.png"/>
<link rel="icon" type="image/svg+xml" href="{{ base_path }}/images/fea-contour-icon.svg"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/fea-contour-icon-32x32.png" sizes="32x32"/>
<link rel="icon" type="image/png" href="{{ base_path }}/images/fea-contour-icon-192x192.png" sizes="192x192"/>
<link rel="manifest" href="{{ base_path }}/images/manifest.json"/>
<link rel="shortcut icon" href="{{ base_path }}/images/fea-contour-icon.ico"/>
<meta name="theme-color" content="#ffffff"/>

<!-- end custom head snippets -->
